.example-container {
    position: absolute;
    top: 56px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.example-icon{
    display: none;
}
  
@media (max-width: 768px) {
    .example-icon{
        display: block;
    }
    .example-button-row{
        display: none;
    }
}

mat-sidenav {
    width: 200px;
}


mat-icon {
    cursor: pointer;
}
