<div class="container">
<mat-toolbar>
  <span>Home</span>
</mat-toolbar>
</div>
<!-- <div class="div-container">
    <h2>Bienvenido CRUD-ANGULAR@16</h2>
    <div appHighlight class="div-appHighlight">
        <p>HighlightDirective</p>
    </div>
</div> -->
<!-- 
<div class="welcome-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Bienvenido a Mi Aplicación</mat-card-title>
        <mat-card-subtitle>¡Estamos encantados de tenerte aquí!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Explora nuestras características y descubre todo lo que tenemos para ofrecerte.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Conoce más</button>
      </mat-card-actions>
    </mat-card>
  </div> -->