.table-container {
    overflow: auto;
}
.a-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 11px;
}
table {
    width: 100%;
    overflow-x: auto;
    width: 500px;
    
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

a {
    cursor: pointer;
}

.edit {
    color: #3498DB;
}

.delete {
    color: #E74C3C;
}

